{% extends 'base.html' %}

{% block css %}

       
{% endblock %}

{% block content %}

 </div>
</div>
<section id="banner" class="section">
	<div class="container">
    	<div class="intro">
         		<h1 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"><i class="fa fa-newspaper-o fa-4x"></i></span></h1>
        <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.0s">This is <strong>Nico</strong>Blog</h2>
        <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.2s">{{post.titulo}}</p>
        </div>
        <div class="clearfix"></div>
	</div>
    	 <!-- Carousel -->
</section>

<section id="aboutt">
	<div class="container">
        <div class="row">
      
<article>
        
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <a href="{% url 'blog_nico:noticias' %}" class="btn btn-primary">Atras</a>
                    <h2 class="section-heading">{{post.titulo}}</h2>

                    
                    <h5 class="section-heading">Posted by {{post.autor}}</h5>
                    <h3 class="section-heading">{{post.fecha}}</h3>

                    <p>{{post.contenido}} </p>

                    
                    
                </div>

            </div>
        </div>
    
    </article>

<div id="comentarios">
    {% include 'comentarios.html' %}
</div>

<div class="coment">
           

           <input id="nombre" placeholder="Nombre" class="form-control" name="nombre" type="text"/>
                                    <br/>


            <td><textarea class="form-control textarea" placeholder="Comentario" id="message" rows="3" name="message"></textarea></td>

            <td></td>
                                        <br/>

     <div class="row">
                    <div class="col-md-12">
                  <button type="submit" class="btn main-btn pull-center wow bounceIn" data-wow-duration="1s" data-wow-delay="1s" id="botonEnviar" name="enviar">Enviar mensaje</button>
                  </div>
                        
                  </div>
    
                <br/>


</div>



{% endblock %}

{% block scripts %}

<script>
    $("#botonEnviar").click(
        function(){
            var dataFSend={
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id:'{{post.id}}',
                nombre:$("#nombre").val(),
                message:$("#message").val()

            }


            $.ajax({
                type: "POST",
                url: "{% url 'blog_nico:enviar_comentarios' %}",
                data: dataFSend,
                success: function(result){
                    console.log("llega respuesta ok");
                    $("#comentarios").html(result);
                    $("#nombre").val("");
                    $("#message").val("");

                },
                error: function(err){
                    console.log("Paso algo malo...D:");
                    console.log(err.responseText);
                },
            });
        }); 

</script>
  

    /*CKEDITOR: no me salio pero lo que cuenta es la intenticon
    script type="text/javascript">
      window.onload = function()  {
        CKEDITOR.replace( 'message' );
     };
    script
    
    */

    

{% endblock %}
